SERVICES='--profile comfy'

VERSION_PYTHON314=3.14.4-slim-bookworm
VERSION_PYTHON313=3.13.13-slim-bookworm
# VERSION_DEBIAN=12.13-slim

COMFYUI_DIR=/usr/src/ComfyUI
TIMEZONE=Europe/Budapest

################################################################################

HUGGING_FACE_HUB_TOKEN=your_secret_key
