# https://docs.openwebui.com/getting-started/env-configuration
# https://github.com/open-webui/open-webui/blob/main/backend/open_webui/config.py
# https://github.com/ollama/ollama/blob/main/envconfig/config.go

# SERVICES='--profile app --profile a1111'
# SERVICES='--profile app --profile searxng'
# SERVICES='--profile app'
# SERVICES='--profile text_generation_webui'
SERVICES='--profile comfy'

VERSION_PYTHON311=3.11.13-slim-bookworm
VERSION_PYTHON312=3.12.11-slim-bookworm
VERSION_PYTHON313=3.13.7-slim-bookworm
VERSION_DEBIAN=12.11-slim
VERSION_OLLAMA=0.11.5
VERSION_OPEN_WEBUI=main
VERSION_PLAYWRIGHT=1.54.2
VERSION_SEARXNG=2025.8.12-6b1516d

COMFYUI_DIR=/usr/src/ComfyUI
TGWUI_DIR=/usr/src/text_generation_webui
TIMEZONE=Europe/Budapest

################################################################################

# GEMINI_API_KEY=your_secret_key
GOOGLE_PSE_API_KEY=your_secret_key
GOOGLE_PSE_ENGINE_ID=your_secret_key
HUGGING_FACE_HUB_TOKEN=your_secret_key
OPENAI_API_KEY=your_secret_key
